extends layout

block content
	h1= title

	form(method="post", action="/newuser")

		.field
			label(for="fullname") Full name:
			.input
				input#fullname(type="text", name="fullname")

		input(type="submit", value="Save")

	p
		a(href="/home") home